* {
  box-sizing: border-box;
}

scroll-table,
[scroll-table] {
  display:block;
  position: relative;
  height: 33vh;
  overflow-x: auto;
  overflow-y: auto;
}

scroll-table table,
[scroll-table] table {
  width: 100%;
}

.thead-inverse > tr > th,
.thead-inverse > tr > td,
.tfoot-inverse > tr > th,
.tfoot-inverse > tr > td {
  color: #fff;
  background-color: black;
  padding-top:5px !important;
  padding-bottom:5px !important;
}
